:root {
  --canvas-size: 600px;
  --algolia-brand: #5468ff;
}

@media (min-width: 960px) {
  :root {
    --canvas-size: 800px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
}

a {
  color: var(--algolia-brand);
  text-decoration: none;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.canvas {
  display: grid;
  width: calc(var(--canvas-size) / 1.25);
  height: calc(var(--canvas-size) / 1.25);
  border: 1px solid red;
  grid-template-columns: repeat(60, 1fr);
  margin: auto;
}

nav .palette {
  display: grid;
  width: var(--canvas-size);
  grid-template-columns: repeat(16, 1fr);
  margin: auto;
}
