:root {
  --canvas-size: 100vw;
  --algolia-brand: #5468ff;
}

@media (min-width: 960px) {
  :root {
    --canvas-size: 800px;
  }
}

@media (min-width: 1200px) {
  :root {
    --canvas-size: 900px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 9%,
      rgba(0, 0, 0, 0.03) 10%,
      rgba(0, 0, 0, 0.03) 12%,
      transparent 13%,
      transparent 29%,
      rgba(0, 0, 0, 0.03) 30%,
      rgba(0, 0, 0, 0.03) 31%,
      transparent 32%,
      transparent 49%,
      rgba(0, 0, 0, 0.03) 50%,
      rgba(0, 0, 0, 0.03) 51%,
      transparent 52%,
      transparent 69%,
      rgba(0, 0, 0, 0.03) 70%,
      rgba(0, 0, 0, 0.03) 71%,
      transparent 72%,
      transparent 89%,
      rgba(0, 0, 0, 0.03) 90%,
      rgba(0, 0, 0, 0.03) 91%,
      transparent 92%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 9%,
      rgba(0, 0, 0, 0.03) 10%,
      rgba(0, 0, 0, 0.03) 12%,
      transparent 13%,
      transparent 29%,
      rgba(0, 0, 0, 0.03) 30%,
      rgba(0, 0, 0, 0.03) 31%,
      transparent 32%,
      transparent 49%,
      rgba(0, 0, 0, 0.03) 50%,
      rgba(0, 0, 0, 0.03) 51%,
      transparent 52%,
      transparent 69%,
      rgba(0, 0, 0, 0.03) 70%,
      rgba(0, 0, 0, 0.03) 71%,
      transparent 72%,
      transparent 89%,
      rgba(0, 0, 0, 0.03) 90%,
      rgba(0, 0, 0, 0.03) 91%,
      transparent 92%,
      transparent
    );

  height: 100%;
  background-size: 50px 50px;
}

a {
  color: var(--algolia-brand);
  text-decoration: none;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.canvas-wrapper {
  border: 1px solid red;
}
.canvas {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(67, 1fr);
  width: 400px;
  height: 400px;
}

.canvas > div[data-cell-id]:hover {
  transform: scale(1.5);
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%);
}
